{% extends "layout.html" %}
{% block Nav %}
  <a class="mr-3 navbar-brand " href="/cliente">Clientes</a>
  <a class="mr-3 navbar-brand" href="/destino">Destinos</a>
  <a class="mr-3 navbar-brand" href="/reserva">Reservaciones</a>
  <a class="navbar-brand" href="/logout">Cerrar Sesion</a>
{% endblock %}
{% block regresar %}/logout{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
      <form action="{{url_for('cliente.add_cliente')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="nombre" placeholder="Nombres" required value="{{ session['nombre'] }}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="apellido" placeholder="Apellidos" required value="{{ session['apellido'] }}">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="correo" placeholder="Correo" required value="{{ session['correo'] }}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="telefono" placeholder="Telefono" required value="{{ session['telefono'] }}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="password" placeholder="Contraseña" required value="{{ session['password'] }}">
        </div>
        <button class="btn btn-primary btn-block">
          Guardar
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table table-striped table-hover table-bordered table-sm bg-white" id="mydatatable">
      <thead>
        <tr>
          <td>ID</td>
          <td>Nombres</td>
          <td>Apellidos</td>
          <td>Correo</td>
          <td>Telefono</td>
          <td>Contraseña</td>
          <td>Operaciones</td>
        </tr>
      </thead>
      <tbody>
        {% for cliente in cliente %}
        <tr>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.correo}}</td>
          <td>{{cliente.telefono}}</td>
          <td>{{cliente.password[:10]}}</td>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-md-6 d-flex justify-content-between">
                  <a href="/editCliente/{{cliente.id}}" class="btn btn-secondary">Editar</a>
                  <a href="/deleteCliente/{{cliente.id}}" class="btn btn-danger btn-delete">Eliminar</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}