{% extends "layout.html" %}
{% block Nav %}
<a class="mr-3 navbar-brand " href="/cliente">Clientes</a>
<a class="mr-3 navbar-brand" href="/destino">Destinos</a>
<a class="mr-3 navbar-brand" href="/reserva">Reservaciones</a>
<a class="navbar-brand" href="/logout">Cerrar Sesion</a>
{% endblock %}
{% block regresar %}/logout{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
      <form action="{{url_for('reserva.add_reserva')}}" method="POST">
        <div class="form-group">
          <select class="form-control" name="destino" id="destino" required>
            {% for destino in destino %}
              <option>{{destino.nombre}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="cliente" id="cliente" required>
            {% for cliente in cliente %}
              <option>{{cliente.nombre}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <input type="date" class="form-control" name="reser" required>
        </div>
        <button class="btn btn-primary btn-block">
          Guardar
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table table-striped table-hover table-bordered table-sm bg-white" id="mydatatable">
      <thead>
        <tr>
          <td>ID</td>
          <td>Destino</td>
          <td>Cliente</td>
          <td>Fecha de Reserva</td>
          <td>Operaciones</td>
        </tr>
      </thead>
      <tbody>
        {% for reservar in reservar %}
        <tr>
          <td>{{reservar.id}}</td>
          <td>{{reservar.destino}}</td>
          <td>{{reservar.cliente}}</td>
          <td>{{reservar.fecha_reservacion}}</td>
          <td>
            <div class="container">
              <div class="row">
                <div class="col-md-6 d-flex justify-content-between">
                  <a href="/editReserva/{{reservar.id}}" class="btn btn-secondary">Editar</a>
                  <a href="/deleteReserva/{{reservar.id}}" class="btn btn-danger btn-delete">Eliminar</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock %}